<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="logo" href="/dashboard">PEPPE
                <span>Q</span>
            </a>


        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="#">Plans and Pricing</a></li>
          <li><a href="#">Documentation</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="usernameLabel" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">Welcome
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/changepassword">Change Password</a>
                        </li>
                        <li>
                            <a href="#" id="logoutLink">Logout</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->





</nav>


<nav class="navbar navbar-default navbar-fixed-top2" id="mainMenuNavBar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav navbar-ul">
                <li name="Restaurant" id="restaurant" class="active-list">
                    <a href="">
                        <i class="fas fa-home fa-2x"></i>
                        <span class="menu-text">RESTAURANTS</span>
                    </a>
                </li>
                <!--   <li name="Menu" id="menu">
            <a href="#">
              <i class="fas fa-utensils fa-2x"></i>
              <span class="menu-text">MENU</span>
            </a>
          </li> -->
                <li name="Worker" id="workers">
                    <a href="#">
                        <i class="fas fa-users-cog fa-2x"></i>
                        <span class="menu-text">WORKERS</span>
                    </a>
                </li>
                <li name="Orders" id="orders">
                    <a href="#">
                        <i class="fas fa-book fa-2x"></i>
                        <span class="menu-text">ORDERS</span>
                    </a>
                </li>
                <li name="Banking" id="banking">
                    <a href="#">
                        <i class="fas fa-university fa-2x"></i>
                        <span class="menu-text">BANKING</span>
                    </a>
                </li>

                <li name="Reports" id="reports">
                    <a href="#">
                        <i class="fa fa-list-alt fa-2x"></i>
                        <span class="menu-text">REPORTS</span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>