<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>COMPANY</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class=""></i>PeppeQ</a></li>
                    <li><a href="javascript:void();"><i class=""></i>Blog</a></li>
                    <li><a href="javascript:void();"><i class=""></i>Case Studies</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Videos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>PRODUCTS</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class=" "></i>Pricing</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Plans</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Features</a></li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>SUPPORT</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class=" "></i>FAQ</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Documentation</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Email</a></li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <h5>CONATCT</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="javascript:void();"><i class=" "></i>Sales</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>About</a></li>
                    <li><a href="javascript:void();"><i class=" "></i>Info</a></li>


                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                class="fa fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">

                <p class="h6">PEPPEQ 2019 &copy All right Reversed.</p>
            </div>
            </hr>
        </div>
    </div>
</section>