<section id="formHolder">

    <div class="row">

        <!-- Brand Box -->
        <div class="col-sm-12 brand">

            <div class="heading">
                <a href="/dashboard" class="logo">PEPPE
                    <span>Q</span>
                </a>
                <p>REPORTS</p>
            </div>

        </div>

    </div>

</section>