<html lang="en">

<head>
  <% include ../partials/login-head %>
</head>


<header class="styles__container" role="navigation">
  <% include ../partials/login-header %>
</header>



<div class="container">


  <section id="formHolder">

    <div class="row">

      <!-- Brand Box -->
      <div class="col-sm-6 brand active">


        <div class="heading active">
          <a href="#" class="logo">PEPPE <span>Q</span></a>
          <p>Your Right Choice</p>
        </div>

        <div class="success-msg active">
          <p class="active">Great! You are one of our members now.</p>
          <a href="/" class="profile active">Sign In</a>
        </div>
      </div>

    </div>

  </section>

</div>


<footer>
  <% include ../partials/login-footer %>
</footer>

</html>